@model IEnumerable<Renta_y_venta_de_peliculas.Web.Models.AlquilerPeliculasModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista Alquiler</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.devuelta)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fecha_devolucion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_usuario_devolucion)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_pelicula)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.devuelta)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fecha_devolucion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_usuario_devolucion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
