@model IEnumerable<Renta_y_venta_de_peliculas.Web.Models.UsersModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Usuarios</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.cod_usuario)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_user)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_password)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.txt_apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.cod_rol)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.sn_activo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.cod_usuario)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_user)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_password)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.txt_apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.cod_rol)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.sn_activo)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
